.seventh-page{
    margin-bottom: 90px;
}

.contain{
    margin: 150px 240px 0 240px;
}

.category-card{
    border: 0;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 15px;
    cursor: pointer;
    margin-bottom: 50px;
}

.category-card:hover{
    box-shadow: rgb(0 0 0 / 20%) 0px 6px 25px;
    transition: all 0.1s ease 0s;
}

.img-border-radius{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}